<h2>Insert caterer's details</h2>

{% if succ %} <strong>{{ succ }} </strong> {% endif %}
{% if cmanagement %}
<form action="{% url 'cmanagement:updates' cmanagement.id %}" method="post">
{% csrf_token %}

	<label for="phone">Phone </label>
	<input type="text" name="phone" id="phone" value="{{cmanagement.phone}}">
	<br />
	<label for="address">Address </label>
	<textarea name="address" id="address">{{ cmanagement.address }}</textarea>
	<br />
	<label for="details">Details </label>
	<textarea name="details" id="details">{{ cmanagement.address }}</textarea>
	<br />
	<label for="name">Name </label>
	<input type="text" name="name" id="name" value="{{cmanagement.name}}">
	<br />
	<label for="cost">Cost </label>
	<input type="text" name="cost" id="cost" value="{{cmanagement.cost}}">
	<br />
	<input type="submit" value="Update" />
</form>
{% endif %}
